<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sistema_clientes</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Aline@2403</property>

    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>

    <mapping class="br.senai.poo.atividadepraticaCRUD.Cliente"/>
  </session-factory>
</hibernate-configuration>
